!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }

    %title geojson | WRDashboard | Waterloo Regional Dashboard

    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/font-awesome.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/blank.css' }
    :scss
      header {
        height: 55px;
        h1, nav {
          display: inline-block;
          margin: 0;
          padding: 10px;
          line-height: 1.2;
        }

        h1 {
          font-size: 18px;
        }

        nav ul {
          list-style-type: none;

          li {
            display:      inline;
            padding-left: 20px;
          }
        }
      }
  %body
    %header
      %h1
        %a{ href: '/' } WRDashboard
      %nav
        %ul
          %li
            %a{ href: '/' } Feeds
          %li
            %a{ href: '/map' } Map
          %li
            %a{ href: '/data_sources' } Data Sources
      %a#fork_me{ href: 'https://gitlab.com/acant/wrdashboard.ca'}
        Fork Me on
        %b Gitlab
    %main
      %section.content
        %h2
          %a{ href: permalink_href }= title
        %dl
          - geojson['properties'].each_pair do |key, value|
            %dt= key
            %dd= value || '--'
        - join_data.each do |join_data|
          - if join_data.header
            %h3= join_data.header
          %table
            - if join_data.caption
              %caption= join_data.caption
            %thead
              %tr
                - join_data.csv.headers.each do |header|
                  %th= header
            %tbody
              - join_data.csv.each do |row|
                %tr
                  - row.each_pair do |header, field|
                    %td= field
