!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }

    %title WRDashboard | Waterloo Regional Dashboard

    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/font-awesome.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/blank.css' }
    :scss
      header {
        height: 55px;
        h1, nav {
          display: inline-block;
          margin: 0;
          padding: 10px;
          line-height: 1.2;
        }

        h1 {
          font-size: 18px;
        }

        nav ul {
          list-style-type: none;

          li {
            display:      inline;
            padding-left: 20px;
          }
        }
      }

  %body
    %header
      %h1
        %a{ href: '/' } WRDashboard
      %nav
        %ul
          %li
            %a{ href: '/' } Feeds
          %li
            %a{ href: '/map' } Map
          %li
            %a{ href: '/data_sources' } Data Sources
      %a#fork_me{ href: 'https://gitlab.com/acant/wrdashboard.ca'}
        Fork Me on
        %b Gitlab
    %main
      %ul
        - Pathname.glob('./data/**/*.ini').map { |x| x.basename('.ini') }.sort.each do |feed|
          %li
            %a{ href: "#{feed}" }= feed.to_s.capitalize
        %li
          %a{ href: 'https://twitter.com/andrew_s_cant/lists/wrdashboard' } Twitter
    %footer
      %div
        Generated at:
        %time{ datetime: "#{Time.now.in_time_zone('America/Toronto')}"}= Time.now.in_time_zone('America/Toronto')
