!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }

    %title Map | WRDashboard | Waterloo Regional Dashboard

    %link{ href: 'https://unpkg.com/leaflet@1.5.1/dist/leaflet.css', integrity: 'sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin: '', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://unpkg.com/leaflet-sidebar-v2@3.2.2/css/leaflet-sidebar.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://unpkg.com/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://unpkg.com/leaflet-compass@1.5.5/dist/leaflet-compass.src.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://unpkg.com/leaflet-control-geocoder@1.13.0/dist/Control.Geocoder.css', rel: 'stylesheet', type: 'text/css' }

    %link{ href: '/css/font-awesome.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '/css/blank.css', rel: 'stylesheet', type: 'text/css'  }
    %link{ href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css' }
    :scss
      html, body {
        padding: 0;
        margin:  0;
        height:  100%;
        width:   100%;
      }
      main {
        position: absolute;
        top:      55px;
        bottom:   0;
        width:    100%;
      }
      #map {
        height:   100%;
        overflow: hidden;
      }
      .geojson-icon {
        background:    #0074d9;
        text-align:    center;
        border-radius: 50%;
        line-height:   30px;
        line-width:    30px;
      }

      header {
        height: 55px;
        h1, nav {
          display: inline-block;
          margin: 0;
          padding: 10px;
          line-height: 1.2;
        }

        h1 {
          font-size: 18px;
        }

        nav ul {
          list-style-type: none;

          li {
            display:      inline;
            padding-left: 20px;
          }
        }
        #fork_me {
          display:          inline;
          position:         static;
          padding:          2px 5px;
       }
      }
  %body
    %header
      %h1
        %a{ href: '/' } WRDashboard
      %nav
        %ul
          %li
            %a{ href: '/' } Feeds
          %li
            %a{ href: '/map' } Map
          %li
            %a{ href: '/data_sources' } Data Sources
      %a#fork_me{ href: 'https://gitlab.com/acant/wrdashboard.ca'}
        Fork Me on
        %b Gitlab
    %main
      #map

    %script{ src: 'https://unpkg.com/leaflet@1.5.1/dist/leaflet.js', integrity: 'sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==', crossorigin: '' }
    %script{ src: 'https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js' }
    %script{ src: 'https://unpkg.com/leaflet-sidebar-v2@3.2.2/js/leaflet-sidebar.js' }
    %script{ src: 'https://api.mapbox.com/mapbox.js/plugins/leaflet-osm/v0.1.0/leaflet-osm.js' }
    %script{ src: 'https://unpkg.com/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.js' }
    %script{ src: 'https://unpkg.com/leaflet-compass@1.5.5/dist/leaflet-compass.src.js' }
    %script{ src: 'https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js' }
    %script{ src: 'https://code.jquery.com/jquery-1.11.0.min.js' }
    :javascript
      var accessToken = 'pk.eyJ1IjoiYWNhbnQiLCJhIjoiY2p4OGI3ajBpMGpmZTN6dXQ0dG5nNHN2ZiJ9.PxiiAZbSksP7TMhoau6McQ';
      var bounds = L.latLngBounds(
        L.latLng(43.6895905, -80.1892866), // northEast corner
        L.latLng(43.2668244, -80.8690216) // sourthWest corner
      );
      var map    = L.map('map', { maxBounds: bounds });

      L.tileLayer(
        'https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        accessToken: accessToken,
        attribution: 'Map data &copy; <a id="osm_attribution" href="https://www.openstreetmap.org/relation/2062151">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="https://www.mapbox.com/">Mapbox</a>',
        minZoom:   11,
        maxZoom:   20
      }).addTo(map);

      // Got to the location specified in the URL hash.
      // @see https://github.com/MarcChasse/leaflet.Permalink/blob/master/leaflet.permalink.js
      if (window.location.hash !== '') {
        hash  = window.location.hash.replace('#', '');
        parts = hash.split('/');
        if (parts.length === 3) {
          map.setView(
            L.latLng(parseFloat(parts[1]), parseFloat(parts[2])),
            parseInt(parts[0], 10)
          );
        }
      } else {
        map.fitBounds(bounds);
      }

      // Show the WR relation.
      $.ajax({
        url:      "https://www.openstreetmap.org/api/0.6/relation/2062151/full",
        dataType: "xml",
        success:  function (xml) { new L.OSM.DataLayer(xml).addTo(map); }
      });

      // Setup the left sidebar.
      var sidebar = L.control.sidebar({ collapsed: true }).addTo(map)
        .addPanel({
            id:   'summary',
            tab:  '<i class="icon-reorder"></i>',
            title: 'Summary',
            pane: '<div id="summary-content"><p>Show a summary of what is on the screen.</p></div>',
        });

      // Locate control.
      L.control.locate({
        drawCircle: false
      }).addTo(map);

      // Compass.
      map.addControl(new L.Control.Compass());

      // Geocoder.
      L.Control.geocoder({
        geocoder: new L.Control.Geocoder.Mapbox(accessToken, {
          geocodingQueryParams: { bbox: bounds.toBBoxString() }
        })
      }).addTo(map);

      // Update the URL as the map is moved.
      // @see https://github.com/MarcChasse/leaflet.Permalink/blob/master/leaflet.permalink.js
      map.on('moveend', function() {
        var center   = map.getCenter();
        var zoom     = map.getZoom();
        var lat      = Math.round(center.lat * 100000) / 100000;
        var lng      = Math.round(center.lng * 100000) / 100000;
        var hash     = '#' + zoom + '/' + lat + '/' + lng;
        var osm_href =
          'https://www.openstreetmap.org/#map=' + zoom + '/' + lat + '/' + lng;
        var state    = {
          zoom:   map.getZoom(),
          center: center
        };

        window.history.pushState(state, 'map', hash);
        $('a#osm_attribution').attr('href', osm_href);
      });

      // Load the available geojson data.
      function addGeoJSONToMap(indexHref, map, markerIcon) {
        $.ajax(indexHref, {
          dataType: "json",
          success: function(urls) {
            $.each(urls, function(i, url) {
              $.ajax(url, {
                dataType: "json",
                success: function(geojson) {
                  var geoJsonLayer = L.geoJson(
                  geojson, {
                    pointToLayer: function(feature, latlng) {
                      return L.marker(latlng, { icon: markerIcon });
                    },
                    onEachFeature: function(feature, layer) {
                      layer.on({
                        click: function(e) {
                          $('#summary-content').load(
                            e.target.feature.properties.url + '  section.content'
                          );
                          sidebar.open('summary');
                        }
                      });
                    }
                  });
                  map.addLayer(geoJsonLayer);
                }
              });
            });
          }
        });
      }

      var markers = L.markerClusterGroup({
        chunkedLoading:   true,
        maxClusterRadius: function(zoom) {
          switch(zoom) {
            case 18: return 1;
            case 17: return 10;
            default: return 80;;
          };
        }
      });
      map.addLayer(markers);

      $.ajax('/map/index.json', {
        dataType: "json",
        success: function(collections) {
          $.each(collections, function(i, collection) {
            addGeoJSONToMap(
              collection.url,
              markers,
              L.divIcon({
                className: 'geojson-icon',
                iconSize: [32, 32],
                html:      '<i class="fa fa-' + collection.icon + ' fa-inverse"></i>'
              })
            );
          });
        }
      });
